body
{
    margin: 0 auto;
    max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo
{
    height: 100px;
    width: 100px;
    margin: 40px 0 0 0;
}
header nav
{
    text-align: right;
}

header nav ul
{
    padding: 0;
    margin: 0;
}
nav ul li
{
    color: black;
    display: inline-block;
    border-style: none solid solid none;
    border-width: 1px;
    font-weight: 600;
    padding: 0 30px 5px 30px;
    margin: 0 3px 0 0;

    
}
footer
{
    background: black;
    height: 150px;
    margin-top: 100px;
    padding: 40px 0 0 0;
}
.contact
{
    border-style: none none solid solid;
}
.section1
{
    display: inline-block;
    width: 32%;
    
}
.section1 h1
{
    padding: 0 0 0 0;
    font-size: 60px;
    margin: 50px 0 0 70px;
}
.section1 h2
{
    font-size: 40px;
    margin: -10px 0 0 70px;
}
.section1 div p
{
    font-size: 13px;
    margin:  5px 0 0 70px;
}
.nube
{
    position: absolute;
    top: 190px;
    right: 200px;
    width: 550px;
    height: 300px;
}
.SUM
{
    display: inline-block;
    color: lightgrey;
    margin: 0 0 0 120px;
    
}
.DO
{
    
    color: white;
    font-weight: 300;
    margin: 0 0 0 120px; 
    padding: 10px 0 0 0;
}
.footer1
{
 color: lightgrey;
 display: inline-block;
 position: absolute;
 top: 610px;
 right: 200px;

}
.footer2
{
    position: absolute;
    color: lightgrey;
    display: inline-block;
    top: 630px;
    right: 200px;
 
}
.footer2 span
{
    color: grey;
}