/*Pseudoelemento
first-letter - elementos de bloque
first-line - elemento bloque
:: before
::after
*/
.titulo::first-letter
{
  color: red;
  font-size: 50px;
}
.linea::first-letter 
{
color: red;
}
.texto::first-line
{
    color: green;
}
.texto::selection
{
    color: red;
    background: yellow;
}