body
{
    margin: 0 auto;
    max-width: 2048px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #eaeaea;
}
header
{
    background: #1a587c;
    text-align: center;
}

header nav
{
    background: #eaeaea;
    text-align: right;
    margin: 0 0 20px 0;
}
header nav ul
{
    margin: 0 30px 0 0;
    padding: 0;
}
header nav ul li
{
    display: inline-block;
    border-bottom: solid;
    border-width: 1px;
    padding: 0 0 0 0;
    margin: 12px 10px 0 3px ;
    font-size: 16px;

}
.logo
{
    
    height: 100px;
    width: 300px;
    text-align: center;
    
}

.barra1
{
    border: 2px solid silver;
    padding: 15px 20px ;
    background-image: linear-gradient(to right,#5f4877 49%,#f3f4f3 49%);
}
.barra2
{
    border: 2px solid silver;
    padding: 15px 20px ;
    background-image: linear-gradient(to right,#4e8541 25%,#f3f4f3 25%);
}
.barra3
{
    border: 2px solid silver;
    padding: 15px 20px ;
    background-image: linear-gradient(to right,#f07f07 65%,#f3f4f3 65%);
}

.seccIzq
{
    display: inline-block;
    width: 22%;
    vertical-align: top;
}

.ArtIzq2 h2
{
    font-size: 15px;
    color: white;
    padding: 10px 60px 10px 15px;
    margin: 0 0 -20px 0;
    background: #1a577b;
}
.parte1
{
    margin: 0 0 0 7px;
}
.parte1 h2
{
    font-size: 15px;
    color: white;
    padding: 10px 0 10px 15px;
    background: #1a577b;
    margin: 0;

}
.parte1 ul
{
     background: #44708a;   
     margin: 0 0 25px 0; 
}
.parte1 ul li
{
    color: white;
    padding: 5px 0;
}
.parte2
{
    background: white;
    padding: 0 20px 13px;
    margin: 0 0 70px 0;
}

.parte2 h3
{
    color: #a0a0a0;
}
.seccDer
{
    width: 73%;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 30px;
    background: white;
    border-radius: 15px;
}
.simple_cubes
{
    display: inline-block;
    margin: 0 0 0 30px;
   
}
.simple_cubes h4
{
    font-size: 16px;
    color: #6b6b6b;
    margin: 15px 0 15px 30px;
}
.payment
{
    display: inline-block;
    background: #02af4f;
    color: white;
    text-align: center;
    margin: 0 10px 0 0 ;
    border-radius: 10px;
    font-size: 13px;
    width: 23%;

}
.payment img
{
    width: 25%;
   
}
.history
{
    display: inline-block;
    background: #ffbf00;
    color: white;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 10px;
    font-size: 13px;
    width: 23%;
    padding: 0 0 0 20px;
}
.history img
{
    width: 25%;
}
.list
{
    display: inline-block;
    background: #6f30a0;
    color: white;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 10px;
    font-size: 13px;
    width: 23%;
}
.list img
{
    width: 25%;
}
.modules
{
    display: inline-block;
    background: #9e2836;
    color: white;
    text-align: center;
    margin: 0 10px 0 0;
    border-radius: 10px;
    font-size: 13px;
    width: 23%;
}
.modules img
{
    width: 25%;
}
.panels
{
    margin: 0 0 0 20px;
}
.panels h4
{
    font-size: 16px;
    color: #6b6b6b;
    margin: 15px 0 15px 30px;
}
.panels p
{
    text-align: center;
}
.p1
{
    border: 1px solid #bbe7ef; 
    display: inline-block;
    width: 30%;
}
.p1 h2
{
  margin: 0;
  background:  #bbe7ef;
  color: white;
  text-align: center;
}
.p1 img
{
    width: 100%;
}
.p2
{
    border: 1px solid #faebcd;
    display: inline-block;
    width: 30%;
}
.p2 h2
{
    margin: 0;
    background: #faebcd;
    color: white;
    text-align: center;

}
.p2 img
{
    width: 100%;
}
.p3
{
    border: 1px solid  #ebccd1;
    display: inline-block;
    width: 30%;

}
.p3 h2
{
    margin: 0;
    background: #ebccd1;
    color: white;
    text-align: center;
}
.p3 img
{
    width: 100%;
}
.users
{
    margin: 15px 0 15px 30px;
}
.users h4
{
    font-size: 16px;
    color: #6b6b6b;
    margin: 15px 0 15px 24px;
}

.user1
{
    background: #437b92;
    display: inline-block;
    text-align: center;
    width: 22%;
    margin: 40px 0;
    padding: 18px 0 15px 0;
}
.user1 img
{
    width: 70%;
    border-radius: 70px;
}
.user1 input
{
    border-radius: 5px;
    border: 1px solid #c4e1f2;
    background: #c4e1f2;
    color: white;
    font-weight: 30;
    margin: 15px 0 0 0;

}
.user2
{
    background: #437b92;
    display: inline-block;
    text-align: center;
    width: 22%;
    margin: 40px 20px;
    padding: 15px 0 15px 0;
}
.user2 img
{
    width: 70%;
    border-radius: 70px;
}
.user2 input
{
    border-radius: 5px;
    border: 1px solid #c4e1f2;
    background: #c4e1f2;
    color: white;
    font-weight: 30;
    margin: 15px 0 0 0;

}
.user3
{
    background: #437b92;
    display: inline-block;
    text-align: center;
    width: 22%;
    margin: 40px 0;
    padding: 25px 0 15px 0;
}
.user3 img
{
    width: 70%;
    border-radius: 70px;
}
.user3 input
{
    border-radius: 5px;
    border: 1px solid #c4e1f2;
    background: #c4e1f2;
    color: white;
    font-weight: 30;
    margin: 15px 0 0 0;

}
.user4
{
    background: #437b92;
    display: inline-block;
    text-align: center;
    width: 22%;
    margin: 35px 20px;
    padding: 10px 0 15px 0;
}
.user4 img
{
    width: 70%;
    border-radius: 70px;
}
.user4 input
{
    border-radius: 5px;
    border: 1px solid #c4e1f2;
    background: #c4e1f2;
    color: white;
    font-weight: 30;
    margin: 15px 0 0 0;

}