body
{
    margin: 0 auto;
    max-width: 1024px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    position: relative;
    margin: 15px 20px;
}
header h1
{
    color: white;
    font-size: 25px;
    text-shadow: 0 0 1px grey;
    margin: 0%;
}
.redes
{
    position: absolute;
    top: 30px;
    right: 20px;
}
header nav ul
{
    padding: 0;
    margin: 0;
}
header nav ul li
{
    display: inline-block;
    padding: 15px 10px 15px 10px;
}
.barra
{
    
    color: white;
    font-weight: 600;
    background-image: linear-gradient(#ef6000 15%,#fed0b2 20% ,#ef6000 40%);

}